.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.section {
  padding: 72px 0;
}

.sectionAlt {
  background-color: var(--ifm-color-emphasis-100);
}

.tweet {
  font-size: 15px;
}

.tweetMeta {
  color: var(--ifm-color-emphasis-700);
}

.tweetMeta strong {
  color: var(--ifm-font-color-base);
}

.tweetsSection{
align-items: center;
overflow-x: scroll;
flex-wrap: nowrap;
}

/* Scroll bar */
/* .tweetsSection::-webkit-scrollbar {
  width: 0px;
  height: 4px;
} */

/* width */
.tweetsSection::-webkit-scrollbar {
  width: 0px;
  height: 0px;

}

/* Track */
.tweetsSection::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
}

/* Handle */
.tweetsSection::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
  height: 4px;
  width: 4px;
}

/* Handle on hover */
.tweetsSection::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.tweetsSection > :global(.col) > * {
  margin-bottom: 2rem;
}

@media (max-width: 996px) {
  .tweetsSection > :global(.col:last-child) > *:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 997px) {
  .tweetsSection > :global(.col) > *:last-child {
    margin-bottom: 0;
  }
}